<div class="topnav" id="nav">
  <a class="appName" ng-href="#!/">MovieBox</a>
  <a ng-href="#!/">Home</a>
  <a ng-click="showSub()">Language</a>
  <div id="myDropdown" class="dropdown-content" >  
  <a ng-click  = "hide()" ng-href="#!/movies/English">English</a>
  <a ng-click  = "hide()" ng-href="#!/movies/Malayalam">Malayalam</a>
  </div>
  <a ng-click  = "hide()" ng-href="#!/movies/Favorites">Favorites</a>
  <a  class="icon" ng-click="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<!-- 
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">MovieBox</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#!/">Home</a></li>
          <li><a ng-href="#!/movie-lang/Malayalam">Malayalam</a></li>
          <li><a ng-href="#!/movie-lang/English">English</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
