
<div class="list-container">
  <div class="search">
    <p>
      Search: <input ng-model="query">
    </p>
    <p>
      Sort By:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="new">Newest</option>
      </select>
    </p>
  </div>

  <div class="list">
    <div class="responsive" ng-repeat="movie in movies | filter: query | orderBy: orderProp">
      <div class="gallery">
        <a ng-href="#!/movie-details/{{movie.movieId}}">
          <img class="movie-thumb" ng-src="{{movie.images[0]}}" alt="{{movie.name}}" />
        </a>
        <div><a ng-href="#!/movie-details/{{movie.movieId}}" class="name">{{movie.name}}</a></div>
        <div class="desc">
          <p>{{movie.synopsis | limitTo:65}}...</p>
        </div>
        <button ng-click="addToFav(movie.movieId)">Add to favorites</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>